<pre>
<p><%= @articles.class %></p>
<%= @articles.inspect %>
</pre>


<% @articles.each do |article| %>
  <ul>
    <% article.attributes.each do |attr| %>
    <li><%= attr %></li>
    <% end %>
  </ul>
<% end %>

<% @articles.each do |article| %>
  <p>Class: <%= article.class %></p>
  <p>ID: <%= article.id %></p>
  <p>Title: <%= article.title %></p>
  <p>Content: <%= article.content %></p>
<% end %>
